@include breakpoint($phone) {
  .responsive-table {
    overflow-x: scroll;
      
      table {
        width: auto;
      }
      caption {
        text-align: left;
      }
  }
}

@include breakpoint($desktop) {
  .responsive-table {
      overflow-x: revert;

      table {
          width: 100%;
      }
      caption {
          text-align: center;
      }
  }
}