main {
  border-top-width: $main-menu-border-width;
  display: block;
  float: none;
  margin: 0 auto;
  max-width: 1080px;
  padding: 2em 1.5em;
}

.page-title h1 {
  margin-bottom: 1em;
}

.pane-title,
.pane-content {
  margin: 0 auto;
  max-width: 1080px;
}

.pane-title {
  margin-bottom: 1em;
}

.panel-pane {
  padding: 0;
  padding-bottom: 1em;
}

.wwu-75-percent-right-column {
  padding-right: 0;

  &.empty-sidebar {
    padding: 0;
  }
}
