.front {

  main {
    background-color: $dark-text-background-color-lighter;
    background-image: url('../images/circuit.jpg');
    background-repeat: no-repeat;
    background-size: contain;
  }
}
