.front {

  .page {
    max-width: 100%;
  }

  main {
    max-width: 100%;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .panel-display > div {
    @include zen-grid-container();
  }

  .panel-pane {
    margin-bottom: 1em;
  }

  .pane-title {
    padding-left: 20px;
    padding-right: 20px;
  }

  .pane-menu-menu-topic-list {
    padding-left: 20px;
    padding-right: 20px;
  }
}

table {
  .odd {
    a {
      color: $wwu-blue;
    }
  }
}
