.page > header {
  background-image: url('../images/header-uhd.jpg');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}

.western-header {
  background-color: rgba(255, 255, 255, .5);
  border-bottom-color: $primary-color;
  border-bottom-style: solid;
}

.site-header {

  .site-name {
    background-color: transparent;

    p {

      @include breakpoint($desktop) {
        color: $secondary-color;
      }
    }
  }
}

.site-header-wrapper {
  border-bottom-color: $dark-text-background-color-lighter;
  border-bottom-width: 6px;
}
