.page > header {
  height: 247px;
}

.western-header {
  border-bottom-width: 6px;
  height: 60px;

  button, .western-logo > a  {
    &:focus, &:active {

      outline: 3px dotted white;
      outline-offset: -4px;
    }
  }

  .center-content {
    overflow: visible;
  }
  
  .quick-links-search {
    display: flex;

    button {
      text-indent: unset;
    }

    nav {
      position: unset;
      z-index: 2;
    }

    .western-search {
      button {
        cursor: default;
      }

      .form-text {
        width: auto;
      }
    }
  }

  @include breakpoint($phone) {
    .quick-links-search {
      flex-direction: column;
      position: absolute;
      right: 0;

      nav {
        height: 44px;
      }

      .western-search {
        position: absolute;
        top: 44px;
        width: 44px;
        z-index: 3;
      }

      .mobile-main-nav {
        position: absolute;
        top: 86px;
      }
    }
  }

  @include breakpoint($tablet) {
    .quick-links-search {
      .western-search {
        position: unset;
      }
    }
  }

  @include breakpoint($desktop) {
    .quick-links-search {
      flex-flow: row nowrap;
      justify-content: flex-end;
      margin-right: 12px;
    }
  }
}

.site-header {
  .site-name {
    h1 {
      color: white;
      text-align: left;
      font-size: 1.25em;
      margin: 0;
      line-height: 54px;
    }
    @include breakpoint($desktop) {
      h1 {
        color: $wwu-blue;
        font-size: 1em;
      }
      display: inline-block;
      left: 0;
      line-height: 54px;
      margin-left: 260px;
      min-width: initial;
      max-width: initial;
      padding: 0;
      position: relative;
      top: 0;
    }
  }

  .site-slogan {
    max-width: 50%;
    background-color: transparentize($wwu-blue, .3);
    margin: 2% 0;
    padding: 1.5%;
    position: absolute;
    line-height: 1;
    text-transform: uppercase;

    @include breakpoint($desktop) {
      margin-left: 245px;
    }

    p {
      margin: 0;
      color: $light-text-color;
    }
  }
}

.site-header-wrapper {
  border-bottom-width: 6px;
  height: 100%;
}
