.main-nav {

  @include breakpoint($desktop) {
    .menu {
      border-color: $dark-text-background-color-lighter;
      border-style: solid;

      .menu__item {
        border-right-color: $dark-text-background-color-lighter;
        border-right-style: solid;
      }

      .menu__link {
        background-color: $light-button-background-color;
        color: $light-button-text-color;

        &:hover,
        &:active,
        &:focus {
          background-color: $light-button-hover-background-color;
          color: $light-button-hover-text-color;
        }
      }

      .menu__link.active {
        background-color: $accent-button-background-color;
        color: $accent-button-text-color;

        &:hover,
        &:active,
        &:focus {
          background-color: $accent-button-hover-background-color;
          color: $accent-button-hover-text-color;
        }
      }
    }
  }
}
