.main-nav {
  position: relative;
  z-index: 1;

  @include breakpoint($desktop) {
    bottom: 0;
    left: 0;
    position: absolute;

    $menu-border-width: 6px;

    .menu {
      border-width: $menu-border-width;
      border-bottom-width: 0;
      margin: 0 auto;

      .menu__item {
        border-right-width: $menu-border-width;
        display: table-cell;
      }

      .menu__item.last {
        border: 0;
      }
    }

    .menu__link {
      padding: 1em 2em;
    }
  }
}
