.pane-menu-menu-topic-list {
  @include zen-clear(left);

  .menu {
    @include zen-nested-container();
    @include clearfix;

   @include breakpoint($phone) {
     -webkit-column-count: 2;
     -moz-column-count: 2;
     column-count: 2;
   }

    @include breakpoint($tablet) {
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
    }

    @include breakpoint($desktop) {
      -webkit-column-count: 4;
      -moz-column-count: 4;
      column-count: 4;
    }

    font-size: 100%;
  }

  .menu__item {
    display: block;
    list-style: none;
    overflow: hidden;
    text-align: center;

    a::before {
      height: 110px;
      margin: 0 auto;
      margin-bottom: 2em;
      margin-top: 2em;
      width: 110px;
    }
  }

  .menu__link {
    color: $dark-text-color;
    display: block;
    height: 12em;
    min-height: 12em;

    &:hover,
    &:active,
    &:focus {
      color: $primary-color-darker;
      background-color: transparent;
    }
  }

  $path: '../images/services';

  .accounts-passwords--access {
    $image: 'AccountsPasswordAccess.svg';

    @include icon-link($image, $path);
  }

  .classroom--lab-technology {
    $image: 'ClassroomLabTech.svg';

    @include icon-link($image, $path);
  }

  .communication-email--calendars {
    $image: 'CommunicationEmailCalendar.svg';

    @include icon-link($image, $path);
  }

  .computer-desktop-support {
    $image: 'ComputerDesktopSupport.svg';

    @include icon-link($image, $path);
  }

  .equipment-loan {
    $image: 'EquipmentLoan.svg';

    @include icon-link($image, $path);
  }

  .managing-your-data--computer {
    $image: 'MaintainingYourComputer.svg';

    @include icon-link($image, $path);
  }

  .print-scan--copy {
    $image: 'PrintScanCopy.svg';

    @include icon-link($image, $path);
  }

  .security {
    $image: 'Security.svg';

    @include icon-link($image, $path);
  }

  .software--productivity-tools {
    $image: 'SoftwareProductivityTools.svg';

    @include icon-link($image, $path);
  }

  .teaching-training--learning {
    $image: 'TeachingTrainingLearning.svg';

    @include icon-link($image, $path);
  }

  .university-tools--systems {
    $image: 'ToolsSystems.svg';

    @include icon-link($image, $path);
  }

  .video {
    $image: 'Video.svg';

    @include icon-link($image, $path);
  }

  .wireless--networking {
    $image: 'WirelessNetwork.svg';

    @include icon-link($image, $path);
  }
}

.front .pane-menu-menu-topic-list {

  @include breakpoint($desktop) {
    $zen-column-count: 3;

    @include zen-grid-item(2, 1);
  }

  .menu__item{

    a::before {
      height: 86px;
      margin: 0 auto;
      margin-top: 1em;
      margin-bottom: 1em;
      width: 86px;
    }
  }

  .menu__link {
    height: 11em;
    min-height: 11em;
  }
}
