.pane-news-panel-pane-1 {

  .pane-title {
    text-transform: uppercase;

    span {
      color: $primary-color;
      font-size: 150%;
    }
  }
}

.view-news {
  @include zen-grid-container();

  @include breakpoint($desktop) {
    $zen-column-count: 3;

    .views-column {
      @include zen-grid-item(1, 2);
    }

    .views-column-first {
      @include zen-grid-item(1, 1);
      padding-left: 0;
    }

    .views-column-last {
      @include zen-grid-item(1, 3);
      padding-right: 0;
    }
  }

  .view-content {
    @include clearfix;
    margin-bottom: 2em;
  }

  header {
    height: 0;
    margin-bottom: 24px;
  }

  .node {
    background-color: $dark-text-background-color-lighter;
    padding: 10px;
  }

  .node-title {
    font-size: 110%;
    position: absolute;
    margin-top: -12px;
  }

  .node-title,
  img {
    margin-bottom: 1em;
  }

  .more-link {
    @include zen-clear(left);

    @include breakpoint($desktop) {
      $zen-column-count: 3;

      @include zen-grid-item(1, 2);
    }
    text-align: center;

    a {
      background-color: $light-button-background-color;
      color: $light-button-text-color;
      display: block;
      margin: 0 auto;
      padding: .5em 1em;
      width: 66%;

      &:hover,
      &:active,
      &:focus {
        background-color: $light-button-hover-background-color;
        text-decoration: $light-button-hover-text-color;
      }
    }
  }
}
