.pane-quick-links-panel-pane-1 {

  @include breakpoint($desktop) {
    $zen-column-count: 3;

    @include zen-grid-item(1, 3);
  }
}

.view-quick-links {
  border: 6px solid #fff;

  .views-row {
    background-color: transparentize($dark-text-background-color, .3);
    margin-bottom: .25em;
    padding: 1em;
  }

  .views-field-field-external-link {
    color: $dark-text-accent-color;
    display: table-cell;
    font-size: 110%;
    padding-bottom: .5em;
    vertical-align: middle;

    a {
      display: inline-block;
      height: 100%;
    }

    &::after {
      content: '»';
      display: inline-block;
      font-size: 150%;
      height: 100%;
    }
  }

}
