.pane-featured-content-panel-pane-1 {
  @include breakpoint($desktop) {
    $zen-column-count: 3;

    @include zen-grid-item(2, 1);
  }

  .flexslider {
    margin: 0;
  }
}

.view-featured-content {
  position: relative;

  .views-field-title {
    @include breakpoint($tablet) {
      font-size: 200%;
    }
    @include breakpoint($desktop) {
      font-size: 300%;
    }
    bottom: 0;
    font-weight: bold;
    font-size: 150%;
    left: 0;
    line-height: 1;
    position: absolute;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 1em;
    text-align: center;
    text-shadow: 3px 3px 6px rgba(0,0,0,0.5);
    box-sizing: border-box;

    a {
      color: $light-text-color;

      &:hover,
      &:active,
      &:focus {
        color: $primary-color-darker;
        text-decoration: none;
        background-color: transparentize($dark-text-background-color, .1);
      }
    }
  }

  .views-field-field-image {
    @include clearfix;
    height: 100%;
  }

  .views-field-view-node {
    bottom: 0;
    display: inline-block;
    left: 0;
    margin-bottom: 2.5em;
    margin-left: 2.5em;
    position: absolute;

    a {
      @include learn-more-link;
      font-size: 125%;
    }
  }
}
