.pane-alerts-panel-pane-1 {

  @include breakpoint($desktop) {
    $zen-column-count: 3;

    @include zen-grid-item(1, 3);
  }
}

.view-alerts {
  background-color: $primary-color-lighter;
  border: 6px solid #fff;
  min-height: 242px;
  padding: 1em;
  padding-bottom: 72px;
  position: relative;
  text-align: center;

  .views-field {
    margin-top: 0;
  }

  .views-field-title::before {
    background-position: left top;
    background-size: 100%;
    content: ' ';
    display: block;
    height: 100px;
    margin: 0 auto;
    margin-bottom: .5em;
    width: 100px;
  }

  .views-field-title.Resolved::before {
    background-image: url('../images/Resolved.svg');
  }

  .views-field-title.Active::before {
    background-image: url('../images/Alert.svg');
  }

  .view-content {
    margin-bottom: 1em;
  }

  .pager {
    margin: 0;
    margin-bottom: 1em;
  }

  .more-link {
    bottom: 0;
    left: 0;
    margin: 1em;
    position: absolute;
    right: 0;
    width: auto;

    a {
      @include inverted-read-more-link;
    }
  }

  .view-empty {

    &::before {
      background-image: url('../images/NoAlerts.svg');
      background-position: left top;
      background-size: 100%;
      content: ' ';
      display: block;
      height: 100px;
      margin: 2em auto;
      width: 100px;
    }
  }
}
