body {
  border: 0;
}

header {
  padding: 0;
}

header > .site-header-wrapper {
  background: transparent;
  border: 0;
  max-height: initial;
}

.site-header {
  float: none;
}

.site-slogan {
  box-sizing: border-box;
}

.main-nav {

  @include breakpoint($desktop) {
    bottom: initial;
    clear: initial;
    float: initial;
    overflow: initial;
    padding: 0;

    .menu {
      width: auto;
    }

    div div .menu li {
      border: 0;
      padding: 0;
      text-transform: initial;
    }
  }
}

.page {
  max-width: initial;
}

main {
  margin-top: 0;
  padding: 0;

  .page-title {
    border: 0;
  }

  ul,
  ol {
    margin-bottom: 1em;
  }
}

.page-title {
  margin: 0;
}

h1 {
  margin-left: 0;
}

.content {

  blockquote {
    max-width: initial;
    min-width: initial;
  }
}

ul.inline .node-readmore {
  padding: 0;
}

ul.tabs-primary {
  margin-top: 0;

  li {
    margin-top: 0;
  }
}

.item-list ul {
  margin-top: 0;
}

.footer-wrapper {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #fff;
  }
}
