// -----------------------------------------------------------------------------
//
// MAIN PALLETTE
//
// -----------------------------------------------------------------------------

// PRIMARY COLORS

$primary-color: $wwu-light-blue;
$primary-color-lighter: desaturate(lighten($wwu-light-blue, 50), 35);
$primary-color-darker: darken($wwu-light-blue, 12);

// SECONDARY COLORS

$secondary-color: $wwu-blue;

// ACCENT COLORS

$accent-color: $wwu-lime;
$accent-color-alternate: $wwu-yellow;

// -----------------------------------------------------------------------------
//
// TEXT COLORS
//
// -----------------------------------------------------------------------------

// DARK

$dark-text-color: #000;
$dark-text-link-color: $wwu-light-blue;
$dark-text-background-color: #eee;
$dark-text-background-color-lighter: #fff;
$dark-text-background-color-darker: #ddd;
$dark-text-accent-color: #aaa;

// LIGHT

$light-text-color: #fff;
$light-text-background-color: $wwu-blue;

// -----------------------------------------------------------------------------
//
// BUTTON COLORS
//
// -----------------------------------------------------------------------------

// LIGHT

$light-button-text-color: #fff;
$light-button-background-color: $wwu-light-blue;
$light-button-hover-text-color: #fff;
$light-button-hover-background-color: $wwu-blue;

// DARK

$dark-button-text-color: #fff;
$dark-button-background-color: $wwu-blue;
$dark-button-hover-text-color: #fff;
$dark-button-hover-background-color: $wwu-light-blue;

// ACCENT

$accent-button-text-color: $secondary-color;
$accent-button-background-color: $accent-color;
$accent-button-hover-text-color: #fff;
$accent-button-hover-background-color: $wwu-blue;
