@mixin icon-link($image, $path) {

  a::before {
    background-image: url('#{$path}/#{$image}');
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100%;
    content: ' ';
    display: block;
  }

  a::after {
    background-image: url('#{$path}/hover/#{$image}');
    content: ' ';
    opacity: 0;
    position: absolute;
  }

  a:hover,
  a:active,
  a:focus {

    &::before {
      background-image: url('#{$path}/hover/#{$image}');
    }
  }
}
