@mixin inverted-read-more-link {
  background-color: $light-button-background-color;
  color: $light-button-text-color;
  display: block;
  padding: .5em 1em;
  text-align: center;
  text-transform: capitalize;

  &:hover,
  &:focus,
  &:active {
    background-color: $light-button-hover-background-color;
    color: $light-button-hover-text-color;
    text-decoration: none;
  }
}
