@mixin learn-more-link {
  background-color: $accent-button-background-color;
  color: $accent-button-text-color;
  padding: .5em 1em;

  &:hover,
  &:active,
  &:focus {
    background-color: $accent-button-hover-background-color;
    color: $accent-button-hover-text-color;
    text-decoration: none;
  }
}
